<nav>
  <div class="main-bar" style="background-color: #131313">
    <div class="sub-bar">
      <a
        class="button left-side-item"
        style="text-decoration: none"
        routerLink="/"
        ><b>SPOOKY MANOR SOFTWARE</b></a
      >
      <div class="right-side">
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/games"
          ><b>GAMES</b></a
        >
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/projects"
          ><b>PROJECTS</b></a
        >
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/members"
          ><b>MEMBERS</b></a
        >
      </div>
    </div>
  </div>
</nav>
